<div class="post-list">
    <h2>{{title}}</h2>
    {{#each this}}{{#if regular-title}}
    <ul>
        <li class="hero">{{{heroImage}}}</li>
        <li class="text"><a href="blog_{{slug}}">
            <h4>{{regular-title}}</h4></a>
            <p>{{{snippet}}}</p>
        </li>
    </ul>
    {{/if}}{{/each}}
</div>