<p>
I enjoy working with JavaScript, Angular, Backbone, Node, CSS preprocessors and Ruby on Rails.  See below for my code and my contributions to others' projects.
</p>
<div id="repos">
<h2>Repos</h2>
{{#each repos}}
    <div id="{{repo.id}}" class="repo code">
        <ul>
        {{#if repo.fork}}
        {{#with parent.parent.owner}}
            <li class="owner-info"><a href="{{html_url}}">{{login}}</a></li>
            <li><a href="{{html_url}}"><img class="avatar" src="{{avatar_url}}"></a></li>
        {{/with}}
        {{else}}
            <li class="owner-info"><a href="{{repo.owner.html_url}}">{{repo.owner.login}}</a></li>
            <li><a href="{{repo.owner.html_url}}"><img class="avatar" src="{{repo.owner.avatar_url}}"></a></li>
        {{/if}}
            <li class="owner-info"><a href="{{repo.html_url}}">{{repo.name}}</a></li>
            <li>{{repo.description}}</li>
            <li class="updated">Updated {{format_date repo.updated_at 'YYYY-MM-DD[T]HH:mm:ss[Z]'}}</li>
        </ul>
    </div>
{{/each}}
</div>
<div id="gists">
<h2>Gists</h2>
{{#each gists}}
    {{#if public}}
    <div id="{{id}}" class="gist code">
        <ul>
            <li class="owner-info"><a href="{{owner.html_url}}">{{owner.login}}</a></li>
            <li><a href="{{owner.html_url}}"><img class="avatar" src="{{owner.avatar_url}}"></a></li>
            <li class="owner-info"><a href="{{html_url}}">{{#each files}}{{filename}} {{/each}}</a></li>
            <li>{{description}}</li>
            <li class="updated">Updated {{format_date updated_at 'YYYY-MM-DD[T]HH:mm:ss[Z]'}}</li>
        </ul>
    </div>
    {{/if}}
{{/each}}
</div>
