<p>
I began coding at age 12 when my friend and I started our own business making websites for local businesses.  Recently, I have added more advanced JavaScript, PHP, jQuery and Java ME skills to my repertoire.  Here are some recent projects of mine.
</p>
<h2>Repositories</h2>
<div id="repos">
{{#each repos}}
    <div id="{{repo.id}}" class="repo code">
        <ul>
            <li><img src="{{#if repo.fork}}{{#with parent.parent.owner}}{{avatar_url}}">{{login}}{{/with}}{{else}}{{repo.owner.avatar_url}}">{{repo.owner.login}}{{/if}}</li>
            <li><a href="{{repo.html_url}}">{{repo.name}}</a></li>
            <li>{{repo.description}}</li>
            <li>{{repo.updated_at}}</li>
        </ul>
    </div>
{{/each}}
</div>
<h2>Gists</h2>
<div id="gists">
{{#each gists}}
    {{#if public}}
    <div id="{{id}}" class="gist code">
        <ul>
            <li><img src="{{owner.avatar_url}}">{{owner.login}}</li>
            <li>{{#each files}}{{filename}} {{/each}}</li>
            <li>{{description}}</li>
            <li>{{updated_at}}</li>
        </ul>
    </div>
    {{/if}}
{{/each}}
</div>