<p>
I started playing music at age 9 and haven't looked back.  Below are some samples of my creative work.  You will hear original compositions plus live performances and studio recordings of me playing trombone and guitar.  I hope you enjoy them.
</p>
<h2>My Jams</h2>
<div id="playlist">
</div>
{{#each this}}
<div class="song" id="{{index}}">
    <h3>{{title}}</h3>
    <audio controls preload="none">
        <source src="audio/mp3/{{file}}.mp3" type="audio/mpeg"></source>
        <source src="audio/ogg/{{file}}.ogg" type="audio/ogg"></source>
        <p>Your browser does not support the audio element.</p>
    </audio>
    <ul>
        <li>Performer: {{performer}}</li>
        <li>My Role: {{role}}</li>
    </ul>
</div>
{{/each}}