{{!-- http://jdauriemma.tumblr.com/rss --}}
<nav class="blog">
    <div><a href="{{prev}}" class="prev">prev</a></div>
    <div><a href="/archive">archive</a></div>
    <div><a href="{{next}}" class="next">next</a></div>
</nav>
<div id="entries">
    <h2><a href="blog_{{slug}}">{{regular-title}}</a></h2>
    <h4>published {{format_date unix-timestamp 'X'}}</h4>
    <div class="tags">
    {{#each tags}}
        <a class="tag" href="archive_{{this}}">#{{this}}</a>
    {{/each}}
    </div>
    {{{regular-body}}}
</div>
<nav class="blog">
    <div><a href="{{prev}}" class="prev">prev</a></div>
    <div><a href="/archive">archive</a></div>
    <div><a href="{{next}}" class="next">next</a></div>
</nav>
<section class="social-buttons">
    <div class="subscribe"><span class="fa fa-rss fa-lg"></span></div>
    <div class="facebook"><span class="fa fa-facebook fa-lg"></span></div>
    <div class="twitter"><span class="fa fa-twitter fa-lg"></span></div>
    <div class="tumblr"><span class="fa fa-tumblr fa-lg"></span></div>
    <div class="reddit"><span class="fa fa-reddit fa-lg"></span></div>
</section>