<br/>
<div style="margin:0 auto; text-align:center;">
<a href="https://www.facebook.com/jdauriemma"><img src="images/facebook.png" style="display:inline-block;margin: 0em 1em 1em 1em;"/></a>
<a href="https://www.twitter.com/jbones3000"><img src="images/twitter.png" style="display:inline-block;margin: 0em 1em 1em 1em;"/></a>
<a href="http://www.linkedin.com/in/jeffreyauriemma/"><img src="images/linkedin.png" style="display:inline-block;margin: 0em 1em 1em 1em;"/></a>
</div>
<h2>Recent Tweets</h2>
<div id = "feed">
</div>
{{#each this}}
<ul>
    <li>{{created_at}}</li>
    <li>{{text}}</li>
    <li>{{user.name}}</li>
    <li>{{user.profile_image_url}}</li>
    <li>@{{user.screen_name}}</li>
</ul>
{{/each}}