<br/>
<div style="margin:0 auto; text-align:center;">
<a href="https://www.facebook.com/jdauriemma"><img src="images/facebook.png" style="display:inline-block;margin: 0em 1em 1em 1em;"/></a>
<a href="https://www.twitter.com/jbones3000"><img src="images/twitter.png" style="display:inline-block;margin: 0em 1em 1em 1em;"/></a>
<a href="http://www.linkedin.com/in/jeffreyauriemma/"><img src="images/linkedin.png" style="display:inline-block;margin: 0em 1em 1em 1em;"/></a>
</div>
<h2>Recent Tweets</h2>
<div id = "feed">
</div>
{{#each this}}
<ul>
    <li><a href="https://twitter.com/{{user.screen_name}}/status/{{id_str}}">{{formattedDate}}</a></li>
    <li>{{text}}</li>
    <li>{{originalUser.name}}</li>
    <li><img src="{{originalUser.profile_image_url}}"></li>
    <li>@{{originalUser.screen_name}}</li>
    {{#each photos}}
        <li><img src="{{media_url}}" width="{{sizes.small.w}}" height="{{sizes.small.h}}"></li>
    {{/each}}
</ul>
{{/each}}